<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>copia</title>
    <script async src="../js/dsfasd.js"></script>
</head>
<body>
    Estou en copia
    <!-- <a href="./outra">ir a de antes</a> -->
    <button id="irAOutra">ir a outra</button>
    <button id="sair">Sair</button>
    <script>
        window.addEventListener("DOMContentLoaded",async ()=>{
    console.log("Estou en copia páxina cargada")
    let token = localStorage.getItem('test')
            let envio = await fetch ("/tokenOk",{
                method:'POST',
                headers:{
                    Authorization:token
                }
            })

            let resposta = await envio.json()
            console.log('a resposta foi do token: ',resposta)

        })
    </script>
</body>
</html>