<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>outra</title>
    <script async src="../js/eqretwer2354.js"></script>
</head>
<body>
    Estou en outra
    <!-- <a href="./copia">ir a copia</a> -->
    <button id="irAOutra">ir a copia</button>
    <button id="sair">Sair</button>
</body>
<script>
    window.addEventListener("DOMContentLoaded", ()=>{
console.log("Estou en outra páxina cargada")


    })
</script>
</html>